

<div class="menu">
  <ul>
    
    <li class="user">
      <input
        type="search"
        (ngModelChange)="searchEmployees(key.value)"
        #key="ngModel"
        ngModel
        name="key"
        id="searchName"
        placeholder="Çalışan Ara..."
        required
      />
    </li>
    <li (click)="onOpenModalForEmployees(null, 'add')" class="admin">
      <button type=button class="btn btn-success">
        <i class="fa-solid fa-pen"></i>
        Çalışan Ekle <span class="sr-only">(current)</span>
      </button>
    </li>
  </ul>
</div>
  
  <body>
    <div
      class="container"
      id="main-container"
      *ngIf="authenticationService.isAuthenticated"
    >
      <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
          <div class="card m-b-30">
            <div class="card-body row">
              <div class="col-6">
                <a href=""
                  ><img
                    src="{{ employee?.imageUrl }}"
                    alt=""
                    class="img-fluid rounded-circle w-100 h-100"
                /></a>
              </div>
              <div class="col-6 card-title align-self-center mb-0">
                <h5>{{ employee?.name }}</h5>
                <p class="m-0">E-mail : {{ employee?.email }}</p>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fa fa-envelope float-right"></i>Unvan :
                {{ employee?.jobTitle }}
              </li>
              <li class="list-group-item">
                <i class="fa fa-phone float-right"></i>Telefon :
                {{ employee?.phoneNumber }}
              </li>
            </ul>
            <div class="card-body">
              <div class="float-right btn-group btn-group-sm">
                <a
                  (click)="onOpenModalForEmployees(employee, 'edit')"
                  class="btn btn-primary tooltips"
                  data-placement="top"
                  data-original-title="Edit"
                  ><i class="fa fa-pencil"></i>
                </a>
                <a
                  (click)="onOpenModalForEmployees(employee, 'delete')"
                  class="btn btn-secondary tooltips"
                  data-placement="top"
                  data-original-title="Delete"
                  ><i class="fa fa-times"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Employee Modal -->
      <div
        class="modal fade"
        id="addEmployeeModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="addEmployeeModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addEmployeeModalLabel">
                Çalışan Ekle
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
                <div class="form-group">
                  <label for="name">Çalışan Adı</label>
                  <input
                    type="text"
                    ngModel
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="İsim"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="email">Çalışan Eposta</label>
                  <input
                    type="email"
                    ngModel
                    name="email"
                    class="form-control"
                    id="email"
                    placeholder="Eposta"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="jobTitle">Çalışan Ünvan</label>
                  <input
                    type="text"
                    ngModel
                    name="jobTitle"
                    class="form-control"
                    id="jobTitle"
                    placeholder="Ünvan"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Çalışan Telefon</label>
                  <input
                    type="number"
                    ngModel
                    name="phoneNumber"
                    class="form-control"
                    id="phone"
                    placeholder="Telefon"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="imageUrl">Çalışan Resim</label>
                  <input
                    type="text"
                    ngModel
                    name="imageUrl"
                    class="form-control"
                    id="imageUrl"
                    placeholder="Resim"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    id="add-employee-form"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    [disabled]="addForm.invalid"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Save changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Modal -->
      <div
        class="modal fade"
        id="updateEmployeeModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="employeeEditModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="employeeEmployeeModalLabel">
                Çalışan Düzenle {{ editEmployee?.name }}
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #editForm="ngForm">
                <div class="form-group">
                  <label for="name">Çalışan Adı</label>
                  <input
                    type="text"
                    ngModel="{{ editEmployee?.name }}"
                    name="name"
                    class="form-control"
                    id="name"
                    aria-describedby="emailHelp"
                    placeholder="Çalışan Adı"
                  />
                </div>
                <input
                  type="hidden"
                  ngModel="{{ editEmployee?.id }}"
                  name="id"
                  class="form-control"
                  id="id"
                  placeholder="Email"
                />
                <input
                  type="hidden"
                  ngModel="{{ editEmployee?.employeeCode }}"
                  name="userCode"
                  class="form-control"
                  id="userCode"
                  placeholder="Email"
                />
                <div class="form-group">
                  <label for="email">Çalışan Email</label>
                  <input
                    type="text"
                    ngModel="{{ editEmployee?.email }}"
                    name="email"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group">
                  <label for="jobTitle">Ünvan</label>
                  <input
                    type="string"
                    ngModel="{{ editEmployee?.jobTitle }}"
                    name="jobTitle"
                    class="form-control"
                    id="jobTitle"
                    placeholder="Ünvan"
                  />
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Telefon Numarası</label>
                  <input
                    type="number"
                    ngModel="{{ editEmployee?.phoneNumber }}"
                    name="phoneNumber"
                    class="form-control"
                    id="phoneNumber"
                    placeholder="Çalışan Resmi URL"
                  />
                </div>
                <div class="form-group">
                  <label for="imageUrl">Çalışan Resmi</label>
                  <input
                    type="text"
                    ngModel="{{ editEmployee?.imageUrl }}"
                    name="imageUrl"
                    class="form-control"
                    id="imageUrl"
                    placeholder="Çalışan Resmi URL"
                  />
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    id=""
                    data-dismiss="modal"
                    class="btn btn-secondary"
                  >
                    Close
                  </button>
                  <button
                    (click)="onUpdateEmployee(editForm.value)"
                    data-dismiss="modal"
                    class="btn btn-primary"
                  >
                    Save changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Modal -->
      <div
        class="modal fade"
        id="deleteEmployeeModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="deleteModelLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Ürün Sil</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Ürün Tamamen Silinecek. Emin misiniz?
                {{ deleteEmployee?.name }}?
              </p>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  No
                </button>
                <button
                  (click)="onDeleteEmployee(deleteEmployee?.id)"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  Yes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Notification for no employees -->
    <div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Çalışan Bulunamadı!</h4>
        <p>Çaıışan bulunamadı. Lütfen çalışanlarınızı ekleyiniz.</p>
      </div>
    </div>
  </body>
