
  <div class="menu">
    <ul>
      
      <li class="user">
        <input
          type="search"
          (ngModelChange)="searchProducts(key.value)"
          #key="ngModel"
          ngModel
          name="key"
          id="searchName"
          placeholder="Ürün Ara..."
          required
        />
      </li>
      <li (click)="onOpenModalForProducts(null, 'add')" class="admin">
        <button type=button class="btn btn-success">
          <i class="fa-solid fa-pen"></i>
          Ürün Ekle <span class="sr-only">(current)</span>
        </button>
      </li>
    </ul>
  </div>

  
    <div
      class="container"
      id="main-container"
      *ngIf="authenticationService.isAuthenticated"
    >
      <div class="row">
        <div *ngFor="let product of products" class="col-md-6 col-xl-3">
          <div class="card m-b-30">
            <div class="card-body row">
              <div class="col-6">
                <a href=""
                  ><img
                    src="{{ product?.imageUrl }}"
                    alt=""
                    class="img-fluid rounded-circle w-100 h-100"
                /></a>
              </div>
              <div class="col-6 card-title align-self-center mb-0">
                <h5>{{ product?.name }}</h5>
                <p class="m-0">Fiyat : {{ product?.price }}</p>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fa fa-envelope float-right"></i>Stok Miktarı :
                {{ product?.stock }}
              </li>
              <li class="list-group-item">
                <i class="fa fa-phone float-right"></i>Ürün ID :
                {{ product?.id }}
              </li>
            </ul>
            <div class="card-body">
              <div class="float-right btn-group btn-group-sm">
                <a
                  (click)="onOpenModalForProducts(product, 'edit')"
                  class="btn btn-primary tooltips"
                  data-placement="top"
                  data-original-title="Edit"
                  ><i class="fa fa-pencil"></i>
                </a>
                <a
                  (click)="onOpenModalForProducts(product, 'delete')"
                  class="btn btn-secondary tooltips"
                  data-placement="top"
                  data-original-title="Delete"
                  ><i class="fa fa-times"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Product Modal -->
      <div
        class="modal fade"
        id="addProductModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="addProductModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addProductModalLabel">Ürün Ekle</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)">
                <div class="form-group">
                  <label for="name">Ürün Adı</label>
                  <input
                    type="text"
                    ngModel
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Name"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="price">Ürün Fiyatı</label>
                  <input
                    type="number"
                    ngModel
                    name="price"
                    class="form-control"
                    id="price"
                    placeholder="Fiyat"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="stock">Stok Adedi</label>
                  <input
                    type="number"
                    ngModel
                    name="stock"
                    class="form-control"
                    id="stock"
                    placeholder="Stok"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="imageUrl">Ürün Resmi</label>
                  <input
                    type="text"
                    ngModel
                    name="imageUrl"
                    class="form-control"
                    id="imageUrl"
                    placeholder="Resim URL"
                    required
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    id="add-employee-form"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    [disabled]="addForm.invalid"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Save changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Modal -->
      <div
        class="modal fade"
        id="updateProductModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="productEditModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="productEmployeeModalLabel">
                Ürün Düzenle {{ editProduct?.name }}
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #editForm="ngForm">
                <div class="form-group">
                  <label for="name">Ürün Adı</label>
                  <input
                    type="text"
                    ngModel="{{ editProduct?.name }}"
                    name="name"
                    class="form-control"
                    id="name"
                    aria-describedby="emailHelp"
                    placeholder="Ürün Adı"
                  />
                </div>
                <input
                  type="hidden"
                  ngModel="{{ editProduct?.id }}"
                  name="id"
                  class="form-control"
                  id="id"
                  placeholder="Email"
                />
                <input
                  type="hidden"
                  ngModel="{{ editProduct?.productCode }}"
                  name="userCode"
                  class="form-control"
                  id="userCode"
                  placeholder="Email"
                />
                <div class="form-group">
                  <label for="price">Ürün Fiyatı</label>
                  <input
                    type="number"
                    ngModel="{{ editProduct?.price }}"
                    name="price"
                    class="form-control"
                    id="email"
                    placeholder="Fiyat"
                  />
                </div>
                <div class="form-group">
                  <label for="stock">Stok Adedi</label>
                  <input
                    type="number"
                    ngModel="{{ editProduct?.stock }}"
                    name="stock"
                    class="form-control"
                    id="jobTitle"
                    placeholder="Stok Adedi"
                  />
                </div>
                <div class="form-group">
                  <label for="imageUrl">Ürün Resmi</label>
                  <input
                    type="text"
                    ngModel="{{ editProduct?.imageUrl }}"
                    name="imageUrl"
                    class="form-control"
                    id="imageUrl"
                    placeholder="Ürün URL"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    id=""
                    data-dismiss="modal"
                    class="btn btn-secondary"
                  >
                    Close
                  </button>
                  <button
                    (click)="onUpdateProduct(editForm.value)"
                    data-dismiss="modal"
                    class="btn btn-primary"
                  >
                    Save changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Modal -->
      <div
        class="modal fade"
        id="deleteProductModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="deleteModelLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Ürün Sil</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Ürün Tamamen Silinecek. Emin misiniz? {{ deleteProduct?.name }}?
              </p>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  No
                </button>
                <button
                  (click)="onDeleteProduct(deleteProduct?.id)"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  Yes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- arama butonu bug-->
    <!-- Notification for no products -->
    <div *ngIf="products?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">ÜRÜN YOK!</h4>
        <p>Ürün bulunamadı. Lütfen ürün ekleyiniz.</p>
      </div>
    </div>
